<table cellspacing="10" align="center">
  <tr>
        <td colspan="2"><p>Регистрация:</p></td>
    </tr>
    <tr>
        <td>
            <label for="email">Введите email:</label>
        </td>
        <td>
            <input type="email"  pattern=".+@^[a-z]+$/.^[a-zA-Z]+$" matInput id="email" [(ngModel)]="email" placeholder='admin@mail.ru' required>
        </td>
    </tr>
    <tr>
        <td>
            <label for="password">Введите пароль:</label>
        </td>
        <td>
            <input type="password"  matInput id="password" [(ngModel)]="password" placeholder='admin123' required>
        </td>
    </tr>
  <tr>
    <td>
      <label for="repeatpassword">Повторите пароль:</label>
    </td>
    <td>
      <input type="password"  matInput id="repeatpassword" [(ngModel)]="repeatpassword" placeholder='admin123' required>
    </td>
  </tr>
  <tr *ngIf=" password != repeatpassword ">
      <td colspan="2">
        <p><font size="3" color="red" face="Arial">Введеные пароли не совпадают</font></p>
      </td>
  </tr>

  <tr>
    <td colspan="2">
      <p *ngIf=" password != repeatpassword || password == null">
        <button mat-button (click)="registration(email, password)" routerLink="/user" routerLinkActive="active" disabled>Зарегистрироваться</button>
      </p>
      <p *ngIf=" password == repeatpassword && password != null">
        <button mat-button (click)="registration(email, password)" routerLink="/user" routerLinkActive="active">Зарегистрироваться</button>
      </p>
    </td>
  </tr>
</table>
